td {
    border-style: solid;
    border-color: black;
    
}
table {
    border-spacing: 10px 10px;
    border-collapse: collapse;
    text-align: center;
}
.rate {
    padding: 2px 5px 2px 5px;
    font-weight: bold;
}
.ten {
    background-color: aqua;
    font-family: sans-serif;
    font-style: italic;
}
.nine {
    background-color: yellow;
    font-family: serif;
    font-style: italic;
}