.square {
    width: 100px;
    height: 100px;
    background-color: orange;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    display: inline-block;
}

#highlighted {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    
}